@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 3rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

.first-letter-highlight h1 {
  display: inline; /* Garante que cada palavra fique em uma linha */
}

.first-letter-highlight h1::first-letter {
  color: #ffc200; /* Cor do destaque */
  font-size: 150%; /* Tamanho do destaque */
  font-weight: bold; /* Estilo do destaque */
}

.highlight {
  color: #ffc200; /* Ou qualquer cor que desejar */
  font-weight: bold; /* Ou qualquer outro estilo de fonte que desejar */
}

.underline {
  text-decoration: underline;
  text-decoration-color: #ffc200; /* Define a cor do sublinhado */
}


ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #ffc200 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.home-image {
  margin-top: 4em;
}

.about-image {
  margin-top:10em;
  width: 240px; /* Largura da div da imagem */
  height: 400px; /* Altura da div da imagem */
  border-radius: 550% / 100%; /* Para criar uma borda circular para a div da imagem */
  overflow: hidden; /* Para garantir que a imagem seja cortada em formato oval */
  margin-bottom: 20px; /* Espaçamento inferior para separar a imagem do texto */
}

.about-image img {
  width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto; /* Para manter a proporção da imagem */
  border-radius: 50%; /* Para criar uma borda circular para a imagem */
  margin-bottom: 20px; /* Espaçamento inferior para separar a imagem do texto */
}


.custom-btn-skills {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.custom-btn-skills:hover {
  background: #ffc200;
  color: #474559;
  background: #474559;
  color: #ffc200;

}

.custom-btn-skills.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn-skills.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}

.custom-btn:hover {
  background: #474559;
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #474559 !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 400px;
  position: relative;
}

.animated-item {
  color: #ffc200;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6.5s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}
.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
}
.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

.carousel-container {
  border: 2px solid #ddd; /* Adiciona uma borda sólida de 2px com cor cinza */
  border-radius: 10px; /* Adiciona cantos arredondados */
  overflow: hidden; /* Garante que a borda não seja cortada */
  height: auto; /* Mantém a proporção da imagem */

}

.carousel-item img {
  width: 100%; /* Garante que a imagem ocupe a largura total do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 400px; /* Define a altura máxima */
  object-fit: contain; /* Ajusta a imagem para caber dentro do contêiner sem cortar */
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'unicons';
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: '\e833';
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: '\e836';
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: #ffc200;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.project-thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Faz com que os itens fiquem em linha */
}
.project-thumbnails li {
  width: 200px; /* Largura fixa do quadrado ou retângulo */
  height: 200px; /* Altura fixa do quadrado ou retângulo */
  margin-right: 20px; /* Espaçamento entre as miniaturas */
  border: 2px solid black; /* Adiciona uma borda preta */
}
.project-thumbnails li img {
  width: 100%; /* Para garantir que a imagem preencha todo o espaço do quadrado ou retângulo */
  height: 100%; /* Para garantir que a imagem preencha todo o espaço do quadrado ou retângulo */
  object-fit: cover; /* Para garantir que a imagem mantenha sua proporção e preencha o espaço */
}

.carousel-item img {
  max-width: 400px; /* Define a largura máxima da imagem como 400 pixels */
  max-height: 250px; /* Define a altura máxima da imagem como 300 pixels */
  display: block; /* Certifica-se de que a imagem é tratada como um bloco */
  margin: auto; /* Define margens automáticas para centralizar a imagem horizontalmente */
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #ffc200;
}
.contact-form .submit-btn {
  background: #ffc200;
  border-radius: 50px;
  color: #474559;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
  color: #f7f3f3;

}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .uil .fa .fas .fab{ 
  color: #f7f3f3;
  font-size: 30px;
    display: inline-block;
    vertical-align: .533em;
  /* margin: 5px 0; */
}
.social-links .uil:hover {
  color: #ffc200;
}
.social-links a {
  color: #fff; 
  font-size: 30px; 
  display: inline-block; 
  margin-right: 10px;
}

.social-links a:hover {
  color: #ffc200; /* Cor dos ícones ao passar o mouse */
}

.footer {
  background-color: #474559;
  color: #ffc200;
}

.btn-back-to-top {
  background-color: transparent;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  position: relative;
  overflow: hidden;
}

.btn-back-to-top::after {
  content: '\2191'; /* código Unicode para uma seta para cima */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-back-to-top:hover {
  background-color: #ffc200;
}


@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }

  


  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
	.animated-info {
		min-width: 300px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .home-text {
    text-align: center;
  }

  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: middle;
  }
}

.animated-contact {
  color: #ffc200;
}

.animated-contact {
  color: #ffc200;
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: right;
  top: 0;
  left: 0; 
  animation: blink 1.5s linear infinite; /* Animação de piscar */

  /* animation: fadeIn 1s linear forwards;  */
    /* left: -100%; */
  /* animation: LeftToRight 5s linear infinite 0s; */
}

.animated-contact:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-contact:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes blink {
  50% {
    opacity: 1; /* Define a opacidade para 1 na metade da duração da animação */
  }
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateX(-5px); 
  }
  10% {
    opacity: 1;
    transform: translateX(0px); 
  }
  25% {
    opacity: 1;
    transform: translateX(0px); 
  }
  30% {
    opacity: 0;
    transform: translateX(-5px); 
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
